@font-face {
  font-family: 'myFirstFont';
  src: url(/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: 'myFirstFont2';
  src: url(/fonts/CircularStd-Light.otf);
}

.main-container {
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 150px 0px 110px;
}

.nav-logo {
  font-size: 28px;
  font-family: 'myFirstFont';
  color: #506269;
  margin-top: 20px;
}

span {
  color: #a5410f;
}

.nav-list-item a {
  font-family: 'myFirstFont2';
  padding: 30px;
  font-size: 26px;
  color: #848484;
  letter-spacing: -0.5px;
}

.nav-list-item a:hover {
  color: #a5410f;
}

.nav ul li {
  list-style: none;
  text-decoration: none;
}

.nav ul a {
  text-decoration: none;
}

.nav-list {
  display: flex;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  justify-content: space-around;
  position: relative;
}

.words {
  position: absolute;
  margin-right: -20%;
  margin-top: -5%;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.hero-image img {
  max-width: 100%;
}

.hero-content {
  width: 30%;
}

.hero-content h1 {
  font-size: 62px;
  font-family: 'myFirstFont';
  color: #506269;
  line-height: 70px;
}

.hero-content p {
  font-family: 'myFirstFont2';
  color: #848484;
  font-size: 26px;
  margin-top: -13px;
}

button {
  border: none;
  background-color: #a5410f;
  color: #fff;
  padding: 20px 190px 20px 190px;
  cursor: pointer;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/*-----------responsive--------------*/

@media (max-width: 600px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 150px 0px 110px;
    display: none;
  }

  .hero-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;
    position: relative;
  }

  .words {
    position: absolute;
    margin-top: -5%;
    display: none;
  }

  .hero-image img {
    max-width: 100%;
  }

  .hero-content {
    width: 100%;
    text-align: center;
    padding: 0px 50px 0px 50px;
  }

  .hero-content h1 {
    font-size: 30px;
    line-height: 30px;
    font-family: 'myFirstFont';
    color: #506269;
  }

  .hero-content p {
    font-family: 'myFirstFont2';
    color: #848484;
    font-size: 26px;
    margin-top: -13px;
  }

  button {
    border: none;
    background-color: #a5410f;
    color: #fff;
    max-width: 100%;
    padding: 10px 50px 10px 50px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1500px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 150px 0px 110px;
    display: none;
    border: 1px solid red;
  }

  .hero-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;
    position: relative;
  }

  .words {
    position: absolute;
    margin-top: -5%;
    display: none;
  }

  .hero-image img {
    max-width: 100%;
  }

  .hero-content {
    width: 100%;
    text-align: center;
    padding: 0px 50px 0px 50px;
  }

  .hero-content h1 {
    font-size: 30px;
    line-height: 30px;
    font-family: 'myFirstFont';
    color: #506269;
  }

  .hero-content p {
    font-family: 'myFirstFont2';
    color: #848484;
    font-size: 26px;
    margin-top: -13px;
  }

  button {
    border: none;
    background-color: #a5410f;
    color: #fff;
    max-width: 100%;
    padding: 10px 50px 10px 50px;
    margin-bottom: 40px;
  }
}
